.Remove-Person {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  /* visibility: hidden; */
}

.Remove-Person .Remove-Person-Tooltip {
  visibility: hidden;
  /* width: 120px; */
  /* background-color: black; */
  color: "red";
  text-align: center;
  border-radius: 6px;
  border-width: 2;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  /* right: 0; */
  top: -50;
  z-index: 1;
}

.Remove-Person-Tooltip {
  top: -20px;
  left: 3px;
}

.Remove-Person:hover .Remove-Person-Tooltip {
  visibility: visible;
}

/* Emojis */

.emoji-panel-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 20px));
  gap: 10px;
}

.emojiselector-item {
  /* flex: 1 1 20px; */
  /* height: 20px; */
  cursor: pointer;
  margin: 5px;
  width: 23px;
}

.emojiselector-item:hover {
  background-color: "red";
}

.emoji-selector-panel::-webkit-scrollbar {
  display: none;
}

/* Img preview */

.ImgPrview {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  /* background-color: gray; */
  background-color: rgba(62, 61, 61, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  box-sizing: border-box;
  padding: 20px;
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  /* visibility: hidden; */
}
